#album-page {
  display: flex;
  gap: 8px;

  #album-container {
    background: linear-gradient(to bottom, var(--color-background-gray-3), var(--color-background-gray-2));
    width: 16%;
    border-radius: 4px;
  }

  #music-list-container {
    border-radius: 4px;
    flex-grow: 1;
    background-color: var(--color-background-gray-3);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}