#favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background: linear-gradient(to bottom, var(--color-background-gray-3), var(--color-background-gray-2));
  border-radius: 4px;
  flex-grow: 1;

  #no-favorites-message {
    color: var(--color-font-white);
    font-family: var(--font-family-text);
    font-size: 28px;
    font-weight: bold;
  }
}

@media screen and (max-width: 800px) {
  #favorites-page {
    padding-left: 12px;
    padding-right: 12px;
  
    #no-favorites-message {
      font-size: 18px;
    }
  }
}