.music-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-gray-1);
  padding: 8px 18px;
  border-radius: 4px;
  width: 100%;
  max-width: 800px;
  gap: 16px;

  .album-music-image {
    width: 80px;
    border-radius: 9999px;
  }

  .audio-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-grow: 1;

    .music-audio {
      height: 40px;
      width: 100%;
      max-width: 500px;
    }

    .music-name, .artist-name {
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      font-family: var(--font-family-text);
    }

    .music-name {
      color: var(--color-background-white);
      font-size: 18px;
    }

    .artist-name {
      color: var(--color-background-gray-4);
      font-size: 16px;
    }
  }

  .favorite-music-icon {
    width: 30px;
  }

  .favorite-music-icon:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .music-card-container {
    padding-left: 8px;
    padding-right: 8px;
  
    .album-music-image {
      display: none;
    }
  
    .audio-info-container {
      gap: 4px;
  
      .music-name {
        font-size: 14px;
      }

      .artist-name {
        font-size: 12px;
      }
    }
  
    .favorite-music-icon {
      width: 24px;
    }
  }
}