@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akaya+Telivigala&family=Fuzzy+Bubbles:wght@400;700&family=Luckiest+Guy&family=Poppins&family=Nunito&display=swap');

:root {
  --color-background-gray-1: rgb(48, 48, 48);
  --color-background-gray-2: rgb(0, 0, 0, .4);
  --color-background-gray-3: rgb(18, 18, 18);
  --color-background-gray-4: rgb(179, 179, 179);

  --color-background-black: rgb(0, 0, 0);

  --color-background-white: rgb(255, 255, 255);

  --color-background-green-1: rgb(30, 215, 96);

  --color-background-blue-1: rgb(66, 133, 244);

  --color-border-gray-1: rgb(167, 167, 167);

  --color-shadow-white: rgb(255, 255, 255);
  
  --color-font-white: rgb(255, 255, 255);
  --color-font-black: rgb(0, 0, 0);

  --font-family-title: 'Poppins', sans-serif;
  --font-family-label: 'Acme', sans-serif;
  --font-family-text: 'Nunito', sans-serif;
  --font-family-input: 'Akaya Telivigala', sans-serif;
  --font-family-button: 'Acme', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

#page-background {
  min-height: 100vh;
  background-color: var(--color-background-black);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
